:root {
    --win-color: #BFFCC6;
    --lose-color: #FFABAB;
    --draw-color: #85E3FF;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    gap: 5px;

}

.result-text {
    font-size: 70px;
    color: white;
    margin: 0;
}

.winner {
    color: var(--win-color);
}

.loser {
    color: var(--lose-color);
}

.play-again-button {
    height: 2rem;
    width: 5rem;
}

#header {
    font-size: 60px;
    margin-bottom: 1rem;
}

.header-text {
    background: linear-gradient(-45deg, #12c2e9, #c471ed, #f64f59);
    background-size: 300%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animated_text 10s ease-in-out infinite;
}

@keyframes animated_text {
	0% { background-position: 0px 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0px 50%; }
}

.rps-game-container {
    position: relative;
    margin: 0;
    padding-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.hidden {
    display: none;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid;
    justify-content: center;
    padding: 50px;
    

    border-image: linear-gradient(var(--border-angle), #12c2e9, #c471ed, #f64f59) 1;
    animation: 4s rotate linear infinite;
}

@property --border-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
  }

@keyframes rotate {
    to {
      --border-angle: 360deg;
    }
  }


.row-container {
    display: flex;
    flex-direction: row;
}

.buttons-container {
    display: flex;
    gap: 25px;
}

.round-result-container {
    display: flex;
    gap: 25px;
}

.scores-container {
    font-size: 40px;
    width: 50%;
    justify-content: center;
    gap: 50px;
}

.rps-image {
    width: 100px;
    height: 100px;
}

.choice-image {
    border: 2px solid black;
    padding: 5px;
}

.player-button,
.rps-image {
    background-color: white;
}

.player-button {
    border: 2px solid black;
    /*background-color: white;*/
    padding-top: 5px;
}

.player-button:hover,
.play-again-button:hover {
    transform: scale(1.1, 1.1);
    border: 2px solid blue;
}

.round-winner {
    background-color: var(--win-color);
}

.round-loser {
    background-color: var(--lose-color);
}

.round-draw {
    background-color: var(--draw-color);
}