:root {
    --win-color: green;
    --lose-color: red;
    --draw-color: blue;
}

#page-container {
    position: relative;
    min-height: 100vh;
    margin: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid red;
}

.row-container {
    display: flex;
    flex-direction: row;
}

.buttons-container {
    display: flex;
    gap: 25px;
}

.round-result-container {
    display: flex;
    gap: 25px;
}

.scores-container {
    border: 1px solid red;
    font-size: 40px;
    width: 50%;
    justify-content: center;
    gap: 50px;
}

.rps-image {
    width: 100px;
    height: 100px;
}

.choice-image {
    border: 2px solid black;
}

.player-button {
    border: 2px solid black;
    background-color: white;
    padding-top: 5px;
}

.player-button:hover {
    transform: scale(1.1, 1.1);
    border: 2px solid blue;
}

.round-winner {
    background-color: var(--win-color);
}

.round-loser {
    background-color: var(--lose-color);
}

.round-draw {
    background-color: var(--draw-color);
}